{% extends postorius_base_template %}
{% load i18n %}
{% load nav_helpers %}

{% block content %}

    {% list_nav 'mass_removal' 'Confirm Removal of All Members' %}

    <p>
    {% blocktrans with listname=list.fqdn_listname %}
        Are you sure you want to unsubscribe all members from {{ listname }}?
    {% endblocktrans %}
    </p>

    <form method="post" action="{% url 'unsubscribe_all' list.list_id %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit" >{% trans 'Unsubscribe All' %}</button>
        <a class="btn btn-default" href="{% url 'mass_removal' list.list_id %}">{% trans 'Cancel' %}</a>
    </form>

{% endblock content %}
